<%
require 'json'
require "ood_support/openstack"

user = OodSupport::User.new
token_file = "/tmp/#{user}-os-token.json"

openstack_instance = "brno.openstack.cloud.e-infra.cz"
auth_url = "https://identity.#{openstack_instance}/v3"

# Load OpenStack credentials
token_data = OodSupport::OpenStack::Credentials.load_token(token_file)
unless token_data
  return
end

access_token = OodSupport::OpenStack::Credentials.access_token(token_data)
user_id = OodSupport::OpenStack::Credentials.user_id(token_data)

# Create helper and fetch projects and flavors
helper = OodSupport::OpenStack::Helper.new(auth_url: auth_url, openstack_instance: openstack_instance)
projects = helper.fetch_user_projects(user_id, access_token)
flavors = helper.fetch_all_flavors(user_id, access_token, projects)
%>
---
cluster:
  - "43-coder-ood"
workspace_name: "workspace"
form:
 - project_id
 - infra_name
 - ssh_public_key
 - control_nodes_count
 - worker_nodes_count
 - worker_node_flavor
attributes:
  project_id:
    widget: "select"
    label: "Select project"
    required: true
    display: true
    help: |
      Select your OS project. If the dropdown is empty and you already have a project in OpenStack, login to <a href="https://horizon.<%=openstack_instance%>/">Horizon</a>  and then refresh this page. If that does not help there might be some issue with OpenStack. In that case please contact <a href=mailto:"cloud@metacentrum.cz">support</a>.
    options:
    <%- projects.each do |project| %>
    - ["<%= project['name'] %>", "<%= project['id'] %>"]
    <%- end %>
  infra_name:
    widget: "text_field"
    label: "Infrastructure name"
    help: |
      Name for your kubernetes cluster
    value: "k8s-infra"
  ssh_public_key:
    widget: "text_field"
    label: "ssh public key"
    required: true
    help: |
      Insert your public key to enable ssh
  control_nodes_count:
    widget: "number_field"
    label: "Number of kubernetes control nodes"
    required: true
    value: 1
    help: |
      Select number of control nodes based on your needs
    min: 1
    max: 5
    step: 1
  worker_nodes_count:
    widget: "number_field"
    label: "Number of kubernetes worker nodes"
    required: true
    value: 1
    help: |
      Select number of worker nodes based on your needs
    min: 1
    max: 5
    step: 1
  worker_node_flavor:
    widget: "select"
    label: "Select worker node flavor"
    required: true
    help: |
      Select your worker node flavor
    options:
    <%- flavors.each do |flavor| %>
    - ["<%= flavor[0] %>", "<%= flavor[1] %>", data-exclusive-option-for-project-id-<%= flavor[2] %>: true]
   <%- end %>
